{
  "plugins": ["transform-es2015-modules-commonjs", "syntax-dynamic-import", "transform-runtime", "universal-import"],
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "env",
    "stage-0"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "presets": ["es2015", "react", "stage-0"]
    }
  }
}
